* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors here */
:root {
  --primaryColor: #313131;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainBlue: #47b6f7;
  --offBlue: #6ea2fc;
  --mainFocus: rgba(0, 0, 0, 0);
  --mainBorder: rgba(255, 255, 255, 0.5);
  --offBorder: rgba(255, 255, 255, 0.1);
  --mainTextBorder: rgba(255, 255, 255, 0);

  /* Main colors */
  --mainPurple: #8739f9;
  --mainPink: #c651cd;
  --mainDark: #363636;
  /* Dark Colors*/
  --darkOne: #100f10;
  --darkTwo: #1b1b1b;
  --darkThree: #242424;
  /* Font colors */
  --mainFont: rgba(255, 255, 255, 0.96);
  --mainFont67: rgba(255, 255, 255, 0.67);
  --mainFont45: rgba(255, 255, 255, 0.45);

  /* Extras */
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.1875rem;
  --lightShadow: 0.125rem 0.3125rem 0.1875rem 0 rgba(0, 0, 0, 0.5);
  --darkShadow: 0.25rem 0.625rem 0.3125rem 0 rgba(0, 0, 0, 0.5);
}

body {
  padding-top: 4.125rem;
  color: var(--mainBlack);
  background: var(--darkThree);
  /*   background: url(https://picsum.photos/id/681/5616/3315) no-repeat center
    center; */
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  display: inline-block;
  font-size: 1.4em;
  font-weight: 100;
  margin-bottom: 0.75em;
  padding-left: 0.75rem;
  padding-bottom: 0.3125rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

h2:first-child {
  padding-left: 0;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

a {
  color: var(--mainFont67);
  text-decoration: none;
}
a:hover {
  color: var(--mainFont45);
}
/* Divider  */
.clear {
  margin: 1.25rem 0;
}
.clear-big {
  margin: 2.5rem 0;
}

.login-a {
  color: var(--mainBlack);
  text-decoration: none;
}
.login-a:hover {
  color: var(--mainGrey);
}
/* Styling for hero */
.defaultHero,
.roomsHero {
  min-height: calc(100vh - 4.125rem);
  /*   background: url(https://picsum.photos/id/681/5616/3315) no-repeat center
    center; */
  background-size: cover;
  background: var(--darkThree);
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsHero {
  background-image: url('./assets/falcon-9.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 60vh;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  max-width: 44rem;
  background: var(--darkTwo);
  color: var(--mainFont67);
  padding: 2rem 1rem;
  border-radius: 1.25rem;
  box-shadow: 0 0.5rem 0.375rem -0.375rem var(--mainBlack);
  text-align: center;
  /* text-transform: capitalize; */
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  color: var(--mainFont);
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 0.3125rem;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* services */
.services {
  padding: 5rem 0;
}
.services {
  color: var(--mainFont);
  background: var(--darkTwo);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.9375rem, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 3.125rem;
}
.service span {
  display: inline-block;
  color: var(--mainPurple);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
  color: var(--mainFont);
}
.services p {
  width: 80%;
  margin: 0 auto;
  color: var(--mainFont67);
}

/* Bouncing arrow */
.scroll-down {
  margin: -4rem auto;
  position: relative;
  top: 90%;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0.625rem);
  }
}

/* Div for bouncing arrow */
.center-svg {
  display: flex;
  justify-content: center;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--darkTwo);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--mainWhite);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainFont);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--mainFont45);
}

.show-nav {
  height: 15.25rem;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 1.5rem 0;
  }
}

/* Footer */
.infos {
  padding: 5rem 0;
}
.infos {
  color: var(--mainFont);
  background: var(--darkThree);
  text-align: center;
}
.infos-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.9375rem, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 3.125rem;
}
.info span {
  display: inline-block;
  color: var(--mainPurple);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.infos h6 {
  letter-spacing: var(--mainSpacing);
  color: var(--mainFont);
}
.infos p {
  color: var(--mainFont);
  font-size: 0.8rem;
  width: 80%;
  margin: 0 auto;
}

/* Login form */
.signin {
  background-color: var(--mainGrey);
  font-family: 'Montserrat', sans-serif;
  color: var(--mainFont);
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}

.login {
  position: relative;
  height: 35rem;
  width: 25.3125rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 3.75rem 3.75rem;
  background-color: rgb(153, 153, 153);
  /*  background: url(https://picsum.photos/id/352/600/800/?blur=10) no-repeat
    center center; */
  /*  background-size: cover; */
  box-shadow: 0 1.875rem 3.75rem -0.3125rem var(--mainBlack);
}
@media screen and (max-width: 425px) {
  .login {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}

.register {
  position: relative;
  height: 38rem;
  width: 25.3125rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 3.75rem 3.75rem;
  background-color: rgb(153, 153, 153);
  /*   background: url(https://picsum.photos/id/352/600/800/?blur=10) no-repeat
    center center;
  background-size: cover; */
  box-shadow: 0 1.875rem 3.75rem -0.3125rem var(--mainBlack);
}
@media screen and (max-width: 425px) {
  .register {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}

form {
  padding-top: 5rem;
}

.active {
  color: var(--mainFont);
  border-bottom: 0.125rem solid var(--darkGrey);
  margin: 0 1rem;
}
@media screen and (max-width: 425px) {
  .active {
    font-size: 1rem;
  }
}

.nonactive {
  color: var(--mainFont67);
  margin: 0 1rem;
}
@media screen and (max-width: 425px) {
  .nonactive {
    font-size: 1rem;
  }
}
.nonactive:hover {
  color: var(--mainFont);
  border-bottom: 0.125rem solid var(--darkGrey);
}

.login-span {
  color: var(--mainFont);
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-left: 1.25rem;
  opacity: 0.4;
  display: inline-block;
  position: relative;
  top: -4.0625rem;
  transition: all 0.5s ease-in-out;
}

.text {
  border: none;
  width: 100%;
  padding: 0.625rem 1.25rem;
  display: block;
  height: 0.9375rem;
  border-radius: 1.25rem;
  background: var(--offBorder);
  border: 0.125rem solid var(--offBorder);
  overflow: hidden;
  margin-top: 0.9375rem;
  transition: all 0.5s ease-in-out;
}

.text:focus {
  outline: 0;
  border: 0.125rem solid var(--mainBorder);
  border-radius: 1.25rem;
  background: var(--mainFocus);
}

.text:focus + span {
  opacity: 0.6;
}

input[type='text'],
input[type='password'] {
  color: var(--mainFont);
  font-family: 'Montserrat', sans-serif;
}

input {
  display: inline-block;
  font-size: 0.875rem;
  padding-top: 1.25rem;
}

label {
  display: inline-block;
  padding-top: 0.625rem;
  padding-left: 0.3125rem;
}

.signin {
  background-color: var(--mainPurple);
  color: var(--mainFont);
  width: 100%;
  padding: 0.625rem 1.25rem;
  display: block;
  height: 2.4375rem;
  border-radius: 1.25rem;
  margin-top: 1.875rem;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.signin:hover {
  background: var(--mainPink);
  box-shadow: 0 0.25rem 2.1875rem -0.3125rem var(--mainPurple);
  cursor: pointer;
}

.signin:focus {
  outline: none;
}

.error-email {
  color: var(--mainFont);
  font-size: 0.8rem;
  text-align: left;
}

.error-password {
  color: var(--mainFont);
  font-size: 0.8rem;
  text-align: left;
}

hr {
  border: 0.0625rem solid var(--offBorder);
  top: 5.3125rem;
  position: relative;
}

/* featured rooms */

.featured-rooms {
  padding: 5rem 0;
}
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

/* room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainFont);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: var(--darkOne);
  color: var(--mainFont);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of room  */
/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}
.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-room-images img {
  width: 100%;
  display: block;
}
.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/
/* roomlist */
.roomslist {
  padding: 5rem 0;
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  color: var(--mainFont);
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  color: var(--mainFont);
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of rooms fitler*/
.empty-search {
  color: var(--mainFont);
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
